*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #222629;
    font-size: 1.1rem;
    color: #fff;
    transition: all 1.1s ease-in-out;
}



/* #content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body {
    margin: 0;
    font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
    color: #FFF;
    background: #222629;
    overflow: hidden;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 30px;
    font: 'Helvetica Neue';
}

p {
    font-size: 24px;
    font: 'Coolvetica';
}

#selfie {
    position: absolute;
    right: 0px;
    object-position: 200px -100px;
} */

