*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #222629;
    font-size: 1.1rem;
    color: #fff;
    transition: all 1.1s ease-in-out;
}

header {
    height: 100vh;
    color: #fff;
    overflow: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #222629;
    font-family: 'Nunito Sans', sans-serif;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

/* Target section class */
.section {
    transform: translateY(-100%) scale(0);
    transition: all 1.2s ease-in-out;
    background-color: #222629;
}

/* Target section 1 */
.s1 {
    display: none;
    transform: translateY(0) scale(1);
}

/* Target section 2 */
.s2 {
    display: none;
    transform: translateY(0) scale(1);
}

/* Target section 3 */
.s3 {
    display: none;
    transform: translateY(0) scale(1);
}

/* Target controls */
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 3%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;

}

.control {
    padding: 1rem;
    cursor: pointer;
    background-color: #61892F;
    width: 55px;
    height: 55px;
    border-radius: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: .7rem 0;
    box-shadow: #fff;

}

i {
    font-size: 1.2rem;
    color: #fff;
}


/* #content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body {
    margin: 0;
    font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
    color: #FFF;
    background: #222629;
    overflow: hidden;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 30px;
    font: 'Helvetica Neue';
}

p {
    font-size: 24px;
    font: 'Coolvetica';
}

#selfie {
    position: absolute;
    right: 0px;
    object-position: 200px -100px;
} */

